/* RESET  */
*{   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(56, 37, 43);
    font-family: 'Shantell Sans', cursive;
}

#containerMain h1{
    font-size: 50px;
    color: white;
    text-align: center;
    padding: 30px 0;
}

#containerMain ul{
    margin: auto;
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

#containerMain li{
    list-style: none;
    background-color: rgb(255, 255, 255);
    width: 75px;
    height:75px ;
    text-align: center;
    line-height: 75px;
    border-radius: 15px;
    font-size: 30px;
}

#containerMain .classFizz{
    font-size: 16px;
    background-color: rgb(27, 202, 202);
}

#containerMain .classBuzz{
    font-size: 16px;
    background-color: rgb(144, 141, 231);
}

#containerMain .classFizzBuzz{
    font-size: 16px;
    background-color: rgb(178, 112, 184);
}

#containerMain .randomNumber{
    width: 80px;
    height: 80px;
    font-size: 50px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 200px;
    right: 100px;
}

#containerMain .info{
    background-color: rgba(230, 230, 230, 0.975);
    height: 200px;
    width: 600px;
    position: absolute;
    top: 200px;
    right: calc(50vw - 300px);
    border-radius: 30px;
}

#containerMain .hidden{
    display: none;
}

#containerMain .info button{
    display:block;
    font-size: 50px;
    position: absolute;
    top: 0px;
    right: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#containerMain .info .numberSelected{
    display: inline-block;
    font-size: 30px;
    margin-top: 50px;
    margin-left: 40px;
    
}

#containerMain .info .numberSelectedType{
    display: block;
    font-size: 30px;
    margin-left: 40px;
    
}

#containerMain .selected{
    -webkit-box-shadow: 0px 0px 17px 1px rgba(255,248,36,0.73); 
    box-shadow: 0px 0px 17px 1px rgba(255,248,36,0.73);
}

